.article-wrapper {
  display: flex;
  flex-direction: column;
  color: #333;
  box-sizing: border-box;
}

.article-content {
  order: 1;
}

.article-content-title {
  font-size: 1.4rem;
  font-weight: 400;
}

.article-links-wrapper {
  order: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.article-links-heading {
  width: 95%;
  margin: 0 auto;
  padding: 10px 0 0 5px;
  border-bottom: 0.5px solid #dfdfdf;
}

.article-links {
  width: 95%;
  margin: 0 auto;
  padding: 5px 0 0 0;
}

.article-links:hover {
  transition: 0.3s;
  color: #ff8c00;
}

.article-content-image {
  width: 100%;
}

@media (min-width: 800px) {
  .article-wrapper {
    flex-direction: row;
  }
  .article-content {
    width: 70%;
    order: 2;
  }
  .article-links-wrapper {
    width: 30%;
    order: 1;
    padding: 0 20px 0 0;
    box-sizing: border-box;
    text-align: left;
  }
}
