.articles--wrapper {
  padding: 20px 0;
  cursor: default;
}

.articles {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.articles-container {
  height: 100%;;
  position: relative;
  width: 31.5%;
}

.articles-date {
  position: absolute;
  background-color: #bf2025;
  color: #fff;
  padding: 10px;
  font-size: large;
  top: 0;
}

.articles-img-container {
  overflow: hidden;
  margin-bottom: 10px;
}

.articles-img-container:hover .articles-img {
  transform: scale(1.2);
  transition: .5s;
}

.articles-img {
  width: 100%;
  transition: .5s;
}

.articles-description-title {
  text-transform: uppercase;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .articles-description-text {
    color: #888;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.articles-description-text {
  color: #888;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.articles-description-id:hover {
  color: #fca53c;
}

@media screen and (max-width: 600px) {
  .articles-container {
    width: 100%;
    margin-bottom: 20px;
  }
  .articles {
    flex-direction: column;
    box-sizing: border-box;
  }
}
